<div>
    <h2 id="page-heading">
        <span jhiTranslate="vaultOfAudioApp.userList.home.title">User Lists</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-list" [routerLink]="['/user-list/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="vaultOfAudioApp.userList.home.createLabel">
            Create a new User List
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="userLists?.length === 0">
        <span jhiTranslate="vaultOfAudioApp.userList.home.notFound">No userLists found</span>
    </div>
    <div class="table-responsive" *ngIf="userLists?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="vaultOfAudioApp.userList.listId">List Id</span></th>
            <th><span jhiTranslate="vaultOfAudioApp.userList.userId">User Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userList of userLists ;trackBy: trackId">
                <td><a [routerLink]="['/user-list', userList.id, 'view' ]">{{userList.id}}</a></td>
                <td>
                    <div *ngIf="userList.listId">
                        <a [routerLink]="['/playlist', userList.listId?.id, 'view' ]" >{{userList.listId?.id}}</a>
                    </div>
                </td>
                <td>
                    {{userList.userId?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/user-list', userList.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-list', userList.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-list', { outlets: { popup: userList.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
