<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-group-heading" jhiTranslate="vaultOfAudioApp.userGroup.home.createOrEditLabel">Create or edit a User Group</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.userGroup.groupId" for="field_groupId">Group Id</label>
                    <select class="form-control" id="field_groupId" name="groupId" formControlName="groupId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="groupOption.id === editForm.get('groupId').value?.id ? editForm.get('groupId').value : groupOption" *ngFor="let groupOption of groups; trackBy: trackGroupById">{{groupOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.userGroup.userId" for="field_userId">User Id</label>
                    <select class="form-control" id="field_userId" name="userId" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('userId').value?.id ? editForm.get('userId').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
