<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-group-heading" jhiTranslate="vaultOfAudioApp.userGroup.home.createOrEditLabel">Create or edit a User Group</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.userGroup.createdBy" for="field_createdBy">Created By</label>
                    <input type="checkbox" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.userGroup.groupAccepted" for="field_groupAccepted">Group Accepted</label>
                    <input type="checkbox" class="form-control" name="groupAccepted" id="field_groupAccepted"
                           formControlName="groupAccepted"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.userGroup.userAccepted" for="field_userAccepted">User Accepted</label>
                    <input type="checkbox" class="form-control" name="userAccepted" id="field_userAccepted"
                           formControlName="userAccepted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.userGroup.group" for="field_group">Group</label>
                    <select class="form-control" id="field_group" name="group" formControlName="group">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="groupOption.id === editForm.get('group').value?.id ? editForm.get('group').value : groupOption" *ngFor="let groupOption of groups; trackBy: trackGroupById">{{groupOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.userGroup.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
