<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userGroup">
            <h2><span jhiTranslate="vaultOfAudioApp.userGroup.detail.title">User Group</span> {{userGroup.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="vaultOfAudioApp.userGroup.createdBy">Created By</span></dt>
                <dd>
                    <span>{{userGroup.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="vaultOfAudioApp.userGroup.groupAccepted">Group Accepted</span></dt>
                <dd>
                    <span>{{userGroup.groupAccepted}}</span>
                </dd>
                <dt><span jhiTranslate="vaultOfAudioApp.userGroup.userAccepted">User Accepted</span></dt>
                <dd>
                    <span>{{userGroup.userAccepted}}</span>
                </dd>
                <dt><span jhiTranslate="vaultOfAudioApp.userGroup.group">Group</span></dt>
                <dd>
                    <div *ngIf="userGroup.group">
                        <a [routerLink]="['/group', userGroup.group?.id, 'view']">{{userGroup.group?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="vaultOfAudioApp.userGroup.user">User</span></dt>
                <dd>
                    {{userGroup.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-group', userGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
