<!-- src/app/player/player.component.html -->
<div class="container">
    <mat-toolbar color="primary" class="main-toolbar">
        <span>Audio Player</span>
    </mat-toolbar>

    <div class="form-group">
        <label for="file">Add files to playlist</label>
        <input type="file"
               id="file"
               (change)="handleFileInput($event.target.files)"
        multiple>
        <button mat-button (click)="removeAll()">
            Remove all files
            <mat-icon>clear</mat-icon>
        </button>
    </div>

    <div class="content">
        <!--<div class="logo">
            <img src="../../content/images/AOV_white.png" class="logoImage"/>
        </div>-->
        <mat-list color="primary" class="songList">
            <h3 mat-subheader>Songs</h3>
            <mat-list-item *ngFor="let file of files; let i = index" (click)="openFile(file, i)">
                <mat-icon color="primary" mat-list-icon>music_note</mat-icon>
                <h4 mat-line>{{ file.name }}</h4>
                <h5 mat-line>by {{ file.artist }}</h5>

                <mat-icon color="primary" *ngIf="currentFile.index === i && !state?.error">volume_up</mat-icon>
                <button mat-button (click)="removeFile(i)">
                    <mat-icon>remove</mat-icon>
                </button>
                <h6 *ngIf="currentFile.index === i && state?.error">ERROR</h6>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>
    <canvas id="canvas2" class="canvas2"></canvas>
    <canvas *ngIf="this.visualization !== true" id="canvas" class="canvas2"></canvas>
    <div class="media-footer">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                {{ state?.readableCurrentTime }}
                <mat-slider class="time-slider" id="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime" (change)="autoPlay($event)" (input)="onSliderChangeEnd($event)" [disabled]="state?.error || currentFile.index === undefined"></mat-slider>
                {{ state?.readableDuration }}
            </mat-toolbar-row>
            <mat-toolbar-row class="media-action-bar">
                L
                <input type="range" class="panner" id="panner" min="-1" max="1" value="0" step="0.01">
                 R
                <div class="separator"></div>
                <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
                    <mat-icon mat-list-icon>skip_previous</mat-icon>
                </button>
                <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
                    <mat-icon mat-list-icon>play_circle_filled</mat-icon>
                </button>
                <button mat-button (click)="pause()" *ngIf="state?.playing">
                    <mat-icon mat-list-icon>pause</mat-icon>
                </button>
                <button  mat-button [disabled]="isLastPlaying()" (click)="next()">
                    <mat-icon mat-list-icon>skip_next</mat-icon>
                </button>
                <div class="separator"></div>
                Volume:
                <input type="range" class="volume" id="volume" min="0" max="2" value="1" step="0.01">
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="resetBtnDiv">
        <button mat-button class="showHideEq" id="showHideEq" (click)="showHide()">
            <mat-icon>assessment</mat-icon>
            Show / Hide Equalizer
            <mat-icon>assessment</mat-icon>
        </button>
    </div>
    <div class="eq" id="eq" style="display: none">
        <div class="resetBtnDiv">
            <h2>EQUALIZER</h2>
        </div>
        <div class="equalizer">
            <div class="wholeBar">
                <input type="range" class="eqbar" id="31" min="-20" max="20" value="0" step="0.5">
                31Hz
            </div>
            <div class="wholeBar">
                <input type="range" class="eqbar" id="62" min="-20" max="20" value="0" step="0.5">
                62Hz
            </div>
            <div class="wholeBar">
                <input type="range" class="eqbar" id="125" min="-20" max="20" value="0" step="0.5">
                125Hz
            </div>
            <div class="wholeBar">
                <input type="range" class="eqbar" id="250" min="-20" max="20" value="0" step="0.5">
                250Hz
            </div>
            <div class="wholeBar">
                <input type="range" class="eqbar" id="500" min="-20" max="20" value="0" step="0.5">
                500Hz
            </div>
            <div class="wholeBar">
                <input type="range" class="eqbar" id="1k" min="-20" max="20" value="0" step="0.5">
                1kHz
            </div>
            <div class="wholeBar">
                <input type="range" class="eqbar" id="2k" min="-20" max="20" value="0" step="0.5">
                2kHz
            </div>
            <div class="wholeBar">
                <input type="range" class="eqbar" id="4k" min="-20" max="20" value="0" step="0.5">
                4kHz
            </div>
            <div class="wholeBar">
                <input type="range" class="eqbar" id="8k" min="-20" max="20" value="0" step="0.5">
                8kHz
            </div>
            <div class="wholeBar">
                <input type="range" class="eqbar" id="16k" min="-20" max="20" value="0" step="0.5">
                16kHhz
            </div>
        </div>
        <div class="resetBtnDiv">
            <button mat-button class="resetButton" id="resetButton">
                Reset equalizer
                <mat-icon>restore</mat-icon>
            </button>
        </div>
    </div>
</div>

