// src/app/player/player.component.scss
.container {
  // min-height: 700px;
  .main-toolbar {
    .spacer {
      flex: 1 1 auto;
    }

    .toolbar-btn {
      font-size: 16px;
      margin-right: 5px;
      cursor: pointer;
    }
  }
  .fileManagement {
    max-height: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: auto;
    justify-content: space-evenly;
    width: 100%;
    .customFileInput {
      color: transparent;
      // max-width: content-box;
      flex: auto;
      display: flex;
      flex-grow: 1;
      width: 33%;
    }
    .fileMgtBtn {
      flex: auto;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      width: 33%;
    }

    .customFileInput::-webkit-file-upload-button {
      visibility: hidden;
      /*height: 0px;
        width: 0px;*/
    }

    .customFileInput::before {
      /*width: 100%;*/
      height: 100%;
      content: 'Add local files';
      text-align: center;
      color: white;
      display: inline-block;
      background: -webkit-linear-gradient(top, #303030, #303030);
      /*border: 1px solid #999;
        border-radius: 3px;*/
      padding: 2px 8px;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      text-shadow: 1px 1px #323232;
      font-weight: 700;
      font-size: 12pt;
    }

    .customFileInput:hover::before {
      border-color: black;
    }

    .customFileInput:active {
      outline: 0;
    }

    .customFileInput:active::before {
      background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }
  }

  .canvas2 {
    height: 100px;
    min-width: 100%;
  }

  .content {
    flex: auto;
    @media only screen and (min-width: 600px) {
      flex-direction: row-reverse;
    }
    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }

    display: flex;
    max-height: 560px;
    .lyrics {
      display: flex;
      flex-grow: 1;
      @media only screen and (min-width: 600px) {
        width: 50%;
      }
      @media only screen and (max-width: 600px) {
        width: 100%;
        height: 50%;
      }
      // width: 50%;
      text-align: center;
      justify-content: center;
      //margin: 2.5rem;
      //text-align: center;
      //font-size: 24px;
      //color: #3f51b5;
      .lyricsContent {
        width: 100%;
        @media only screen and (min-width: 600px) {
          max-height: 100%;
        }
        @media only screen and (max-width: 600px) {
          max-height: 280px;
        }
        white-space: pre-wrap;
        overflow: auto;
        overflow-x: hidden;
        //height: 150px;
      }
    }
    .songList {
      min-width: 50%;
      flex-grow: 1;
      display: flex;
      flex: auto;
      flex-direction: column;
      overflow: auto;
      min-height: 240px;
      max-height: 100%;
      .song.mat-list-item-content {
        display: flex;
        flex: auto;
        flex-direction: row;
        justify-content: space-evenly;
        .songEl {
          display: flex;
        }
      }
    }
    .songList::-webkit-scrollbar {
      //display: none;
      width: 12px;
      background-color: #323232;
    }
    .songList::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #323232;
      border-radius: 10px;
    }

    .songList::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-image: -webkit-gradient(linear, left bottom, left top, from(#a18cd1), to(#fbc2eb));
      background-image: -webkit-linear-gradient(bottom, #a18cd1 0%, #fbc2eb 100%);
      background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    }

    .lyricsContent::-webkit-scrollbar {
      //display: none;
      width: 12px;
      background-color: #323232;
    }
    .lyricsContent::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #323232;
      border-radius: 10px;
    }

    .lyricsContent::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-image: -webkit-gradient(linear, left bottom, left top, from(#a18cd1), to(#fbc2eb));
      background-image: -webkit-linear-gradient(bottom, #a18cd1 0%, #fbc2eb 100%);
      background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    }
  }

  .media-footer {
    //position: absolute;
    bottom: 0;
    justify-content: space-evenly;
    min-width: 0px;
    .time-slider {
      width: 100% !important;
      margin-left: 20px;
      margin-right: 20px;
    }
    .media-action-bar {
      width: 100%;
      //margin-left: 25px;
      //margin-right: 25px;
      //padding: 2px;
      justify-content: space-evenly;
      flex: auto;
      flex-direction: row;

      .panner {
        //float: left;
        // margin: auto;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        //margin-left: 5px;
        flex: auto;
        max-width: 25%;
        margin-right: 10%;
        flex-direction: column;
        .balanceText {
          display: flex;
          text-align: center;
          justify-content: center;
        }
        .pannerText {
          flex-direction: row;
          flex: auto;
          display: flex;
          justify-content: center;
          .lTxt {
            //margin: auto;
            flex-grow: 0.25;
            justify-content: flex-end;
            text-align: right;
            display: flex;
          }

          .pannerBar {
            // margin: auto;
            max-width: 60%;
            flex-grow: 8;
            justify-content: center;
            display: flex;
          }

          .rTxt {
            //margin: auto;
            flex-grow: 0.25;
            justify-content: flex-start;
            text-align: left;
            display: flex;
          }
        }
      }

      .playerButtons {
        // margin: auto;
        // max-width: 35%;
        display: flex;
        flex: auto;
        flex-direction: row;
        flex-grow: 1;
        justify-content: center;
        max-width: 40%;
        .previous {
          // margin: auto;
          max-width: 20%;
          display: flex;
          flex-grow: 1;
          //justify-content: center;
          //padding-left: 40%;
          //align-items: flex-end;
          justify-content: flex-end;
          padding: 0px;
        }

        .playPause {
          max-width: 20%;
          display: flex;
          flex-grow: 1;
          // margin: auto;
          justify-content: center;
        }

        .next {
          max-width: 20%;
          // margin: auto;
          display: flex;
          flex-grow: 1;
          //justify-content: center;
          //padding-right: 40%;
          justify-content: flex-start;
          padding: 0px;
        }
        .mat-icon {
          @media only screen and (min-width: 600px) {
            height: 48px !important;
            width: 48px !important;
            font-size: 48px !important;
          }
          @media only screen and (max-width: 600px) {
            height: 36px !important;
            width: 36px !important;
            font-size: 36px !important;
          }
          display: flex;
          justify-content: center;
          // margin: 0px;
        }
      }
      .volume {
        //float: right;
        max-width: 25%;
        //margin: auto;
        display: flex;
        flex: auto;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;

        margin-left: 10%;
        //width:auto;
        .volumeBar {
          display: flex;
          // margin: auto;
          max-width: 90%;
          justify-content: center;
        }
        .volumeText {
          display: flex;
          // margin: auto;
          max-width: 90%;
          justify-content: center;
        }
      }
    }
  }
  .equalizer {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    .wholeBar {
      display: flex;
      flex-direction: column;
      flex: auto;
      width: calc(100% / 10);
      text-align: center;
      .eqbar {
        //margin-top: 50px;

        //height: 21px;
        flex: auto;
        -webkit-appearance: slider-vertical;
        -moz-appearance: progressbar-vertical;
        //transform: rotate(270deg);
        //-moz-transform: rotate(270deg);
      }
    }
  }
  .advanced {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    .filter {
      display: flex;
      flex-direction: column;
      flex: auto;
      width: calc(100% / 8);
      text-align: center;
      .checkbox {
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        margin-left: 10px;
      }
      .filtersettings {
        display: flex;
        flex-direction: row;
        .filtersetting {
          display: flex;
          flex-direction: column;
          flex: auto;
          align-items: center;
          .filterbar {
            flex: auto;
            -webkit-appearance: slider-vertical;
          }
          .filterinp {
            max-width: 100px;
          }
        }
      }
    }
  }
  .resetBtnDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    .showHideEq {
      flex: auto;
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      max-width: 70%;
      .toolsIcon {
        @media only screen and (max-width: 600px) {
          display: none;
        }
        @media only screen and (min-width: 600px) {
          display: flex;
        }
        flex-grow: 1;
        flex: auto;
      }
      .toolsInfo {
        display: flex;
        flex-grow: 8;
      }
    }
    .showHideAdvanced {
      flex: auto;
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      max-width: 70%;
      .toolsIcon {
        @media only screen and (max-width: 600px) {
          display: none;
        }
        @media only screen and (min-width: 600px) {
          display: flex;
        }
        flex-grow: 1;
        flex: auto;
      }
      .toolsInfo {
        display: flex;
        flex-grow: 8;
      }
    }
  }
  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  }
}
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
