// src/app/player/player.component.scss
.container {
  // min-height: 700px;
  .main-toolbar {
    .spacer {
      flex: 1 1 auto;
    }
    .toolbar-btn {
      font-size: 16px;
      margin-right: 5px;
      cursor: pointer;
    }
  }

  .canvas2 {
    height: 100px;
    min-width: 100%;
  }

  .content {
    .logo {
      margin: 2.5rem;
      text-align: center;
      font-size: 24px;
      color: #3f51b5;
      .logoImage {
        //width: 150px;
        //height: 150px;
      }
      .mat-icon {
        height: 160px !important;
        width: 160px !important;
        font-size: 160px !important;
      }
    }
    .songList {
      overflow: auto;
      height: 400px;
    }
    .songList::-webkit-scrollbar {
      //display: none;
      width: 12px;
      background-color: #323232;
    }
    .songList::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #323232;
      border-radius: 10px;
    }

    .songList::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-image: -webkit-gradient(linear, left bottom, left top, from(#a18cd1), to(#fbc2eb));
      background-image: -webkit-linear-gradient(bottom, #a18cd1 0%, #fbc2eb 100%);
      background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    }
  }

  .media-footer {
    //position: absolute;
    bottom: 0;
    .time-slider {
      width: 100% !important;
      margin-left: 20px;
      margin-right: 20px;
    }
    .media-action-bar {
      .panner {
        float: left;
      }
      .separator {
        width: 50%;
      }
      width: 100%;
      padding: 2.5rem;
      justify-content: center;
      .mat-icon {
        height: 48px !important;
        width: 48px !important;
        font-size: 48px !important;
      }
      .volume {
        float: right;
      }
    }
  }
  .equalizer {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    .wholeBar {
      display: flex;
      flex-direction: column;
      flex: auto;
      width: calc(100% / 10);
      text-align: center;
      .eqbar {
        //margin-top: 50px;

        //height: 21px;
        flex: auto;
        -webkit-appearance: slider-vertical;
        //transform: rotate(270deg);
        //-moz-transform: rotate(270deg);
      }
    }
  }
  .advanced {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    .filter {
      display: flex;
      flex-direction: column;
      flex: auto;
      width: calc(100% / 8);
      text-align: center;
      .checkbox {
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        margin-left: 10px;
      }
      .filtersettings {
        display: flex;
        flex-direction: row;
        .filtersetting {
          display: flex;
          flex-direction: column;
          flex: auto;
          align-items: center;
          .filterbar {
            flex: auto;
            -webkit-appearance: slider-vertical;
          }
          .filterinp {
            max-width: 100px;
          }
        }
      }
    }
  }
  .resetBtnDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
