<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-crowd-heading" jhiTranslate="vaultOfAudioApp.crowd.home.createOrEditLabel">Create or edit a Crowd</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                           readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.crowd.crowdName" for="field_crowdName">Crowd Name</label>
                    <input type="text" class="form-control" name="crowdName" id="field_crowdName"
                           formControlName="crowdName"/>
                    <div *ngIf="editForm.get('crowdName').invalid && (editForm.get('crowdName').dirty || editForm.get('crowdName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('crowdName').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('crowdName').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                            This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.crowd.crowdDescription" for="field_crowdDescription">Crowd Description</label>
                    <input type="text" class="form-control" name="crowdDescription" id="field_crowdDescription"
                           formControlName="crowdDescription"/>
                    <div *ngIf="editForm.get('crowdDescription').invalid && (editForm.get('crowdDescription').dirty || editForm.get('crowdDescription').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('crowdDescription').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }">
                            This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.crowd.crowdPhoto" for="field_crowdPhoto">Crowd Photo</label>
                    <div>
                        <div *ngIf="editForm.get('crowdPhoto').value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('crowdPhotoContentType').value, editForm.get('crowdPhoto').value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{editForm.get('crowdPhotoContentType').value}}, {{byteSize(editForm.get('crowdPhoto').value)}}</span>
                            <button type="button" (click)="editForm.patchValue({crowdPhoto: null});editForm.patchValue({crowdPhotoContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_crowdPhoto" (change)="setFileData($event, 'crowdPhoto', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="crowdPhoto" id="field_crowdPhoto"
                           formControlName="crowdPhoto"/>
                    <input type="hidden" class="form-control" name="crowdPhotoContentType" id="field_crowdPhotoContentType"
                           formControlName="crowdPhotoContentType" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="vaultOfAudioApp.crowd.user" for="field_users">User</label>
                    <select class="form-control" id="field_users" multiple name="users" formControlName="users">
                        <option [ngValue]="getSelected(editForm.get('users').value, userExtraOption)" *ngFor="let userExtraOption of userextras; trackBy: trackUserExtraById">{{userExtraOption.user.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="vaultOfAudioApp.crowd.accepted" for="field_accepteds">Accepted</label>
                    <select class="form-control" id="field_accepteds" multiple name="accepteds" formControlName="accepteds">
                        <option [ngValue]="getSelected(editForm.get('accepteds').value, userExtraOption)" *ngFor="let userExtraOption of userextras; trackBy: trackUserExtraById">{{userExtraOption.user.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="vaultOfAudioApp.crowd.playlist" for="field_playlists">Playlist</label>
                    <select class="form-control" id="field_playlists" multiple name="playlists" formControlName="playlists">
                        <option [ngValue]="getSelected(editForm.get('playlists').value, playlistOption)" *ngFor="let playlistOption of playlists; trackBy: trackPlaylistById">{{playlistOption.listName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.crowd.createdBy" for="field_createdBy">Created By</label>
                    <select class="form-control" id="field_createdBy" name="createdBy" formControlName="createdBy">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userExtraOption.id === editForm.get('createdBy').value?.id ? editForm.get('createdBy').value : userExtraOption" *ngFor="let userExtraOption of userextras; trackBy: trackUserExtraById">{{userExtraOption.user.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
