/* my-eq.component.scss */
.removeButton {
  background-color: darkgoldenrod;
  border-color: darkgoldenrod;
}

.removeButton:hover {
  background-color: #c29f0c;
  border-color: #c29f0c;
}

.addButton {
  background-color: darkgreen;
  border-color: darkgreen;
}

.addButton:hover {
  background-color: #006e00;
  border-color: #006e00;
}
