<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userSong">
            <h2><span jhiTranslate="vaultOfAudioApp.userSong.detail.title">User Song</span> {{userSong.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="vaultOfAudioApp.userSong.songId">Song Id</span></dt>
                <dd>
                    <div *ngIf="userSong.songId">
                        <a [routerLink]="['/song', userSong.songId?.id, 'view']">{{userSong.songId?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="vaultOfAudioApp.userSong.userId">User Id</span></dt>
                <dd>
                    {{userSong.userId?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-song', userSong.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
