<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userEqualizerSetting">
            <h2><span jhiTranslate="vaultOfAudioApp.userEqualizerSetting.detail.title">User Equalizer Setting</span> {{userEqualizerSetting.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="vaultOfAudioApp.userEqualizerSetting.equalizerSetting">Equalizer Setting</span></dt>
                <dd>
                    <div *ngIf="userEqualizerSetting.equalizerSetting">
                        <a [routerLink]="['/equalizer-setting', userEqualizerSetting.equalizerSetting?.id, 'view']">{{userEqualizerSetting.equalizerSetting?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="vaultOfAudioApp.userEqualizerSetting.user">User</span></dt>
                <dd>
                    {{userEqualizerSetting.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-equalizer-setting', userEqualizerSetting.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
