<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-group-heading" jhiTranslate="vaultOfAudioApp.group.home.createOrEditLabel">Create or edit a Group</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.group.groupId" for="field_groupId">Group Id</label>
                    <input type="number" class="form-control" name="groupId" id="field_groupId"
                           formControlName="groupId"/>
                    <div *ngIf="editForm.get('groupId').invalid && (editForm.get('groupId').dirty || editForm.get('groupId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('groupId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('groupId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.group.groupName" for="field_groupName">Group Name</label>
                    <input type="text" class="form-control" name="groupName" id="field_groupName"
                           formControlName="groupName"/>
                    <div *ngIf="editForm.get('groupName').invalid && (editForm.get('groupName').dirty || editForm.get('groupName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('groupName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('groupName').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.group.groupDescription" for="field_groupDescription">Group Description</label>
                    <input type="text" class="form-control" name="groupDescription" id="field_groupDescription"
                           formControlName="groupDescription"/>
                    <div *ngIf="editForm.get('groupDescription').invalid && (editForm.get('groupDescription').dirty || editForm.get('groupDescription').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('groupDescription').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.group.groupPhoto" for="field_groupPhoto">Group Photo</label>
                    <div>
                        <div *ngIf="editForm.get('groupPhoto').value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('groupPhotoContentType').value, editForm.get('groupPhoto').value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{editForm.get('groupPhotoContentType').value}}, {{byteSize(editForm.get('groupPhoto').value)}}</span>
                            <button type="button" (click)="editForm.patchValue({groupPhoto: null});editForm.patchValue({groupPhotoContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_groupPhoto" (change)="setFileData($event, 'groupPhoto', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="groupPhoto" id="field_groupPhoto"
                           formControlName="groupPhoto"/>
                    <input type="hidden" class="form-control" name="groupPhotoContentType" id="field_groupPhotoContentType"
                           formControlName="groupPhotoContentType" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
