<div class="row">
    <div class="col-md-3">
        <div [ngSwitch]="isAuthenticated()" class="text-center array" >
            <span class="hipster img-fluid rounded" *ngSwitchCase="false"></span>
            <img class="hipster img-fluid rounded" *ngSwitchCase="true" src="{{account.imageUrl}}" style="max-height: 350px; max-width: 350px; min-height: 150px; min-width: 150px; height: auto; width: auto"/>
        </div>
    </div>

    <div class="col-md-9">
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true" style="background-color: #5c3e94">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
                <tr><span jhiTranslate="userManagement.firstName"></span>: {{account.firstName}}</tr>
                <tr><span jhiTranslate="userManagement.lastName"></span>: {{account.lastName}}</tr>
                <tr><span jhiTranslate="userManagement.email"></span>: {{account.email}}</tr>
            </div>


            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

        <div>
            <h2>
                <!--jhiTranslate="vaultOfAudioApp.crowd.home.title"-->
                <span jhiTranslate="home.crowdRequests">Crowd requests</span>
            </h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span jhiTranslate="global.field.id">ID</span></th>
                        <th><span jhiTranslate="vaultOfAudioApp.crowd.crowdName">Crowd Name</span></th>
                        <th><span jhiTranslate="vaultOfAudioApp.crowd.playlist">Playlist</span></th>
                        <th><span jhiTranslate="vaultOfAudioApp.crowd.user">User</span></th>
                        <th><span jhiTranslate="vaultOfAudioApp.crowd.accept">Accept</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let crowd of usersDivide">
                        <td *ngIf="!isRequestAccepted(crowd.users[0], crowd) && crowd.createdBy.user.login == account.login"><a [routerLink]="['/', crowd.id, 'view-crowd' ]">{{crowd.id}}</a></td>
                        <td *ngIf="!isRequestAccepted(crowd.users[0], crowd) && crowd.createdBy.user.login == account.login">{{crowd.crowdName}}</td>
                        <td *ngIf="!isRequestAccepted(crowd.users[0], crowd) && crowd.createdBy.user.login == account.login">
                        <span *ngFor="let playlist of crowd.playlists; let last = last">
                            <a class="form-control-static" [routerLink]="['/', playlist?.id, 'view-playlist' ]">{{playlist.listName}}</a>{{last ? '' : ', '}}
                        </span>
                        </td>
                        <td *ngIf="!isRequestAccepted(crowd.users[0], crowd) && crowd.createdBy.user.login == account.login">
                            <span *ngFor="let user of crowd.users; let last = last">
                                {{user.user.login}}{{last ? '' : ', '}}
                            </span>
                        </td>
                        <td class="text-left" *ngIf="!isRequestAccepted(crowd.users[0], crowd) && crowd.createdBy.user.login == account.login">
                            <div class="btn-group">
                                <button type="button"
                                        (click)="addCrowdToUser(getFullCrowd(crowd), crowd.users[0])"
                                        class="btn btn-info btn-sm addButton">
                                    <fa-icon [icon]="'plus'"></fa-icon>
                                    <span class="d-none d-md-inline">Accept</span>
                                </button>
                                <button type="button"
                                        (click)="removeUserFromCrowd(getFullCrowd(crowd), crowd.users[0])"
                                        class="btn btn-danger btn-sm removeButton">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Decline</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>

        <div>
            <h2>
                <span jhiTranslate="home.crowdInvitations">Crowd Invitations</span>
            </h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="global.field.id">ID</span></th>
                    <th><span jhiTranslate="vaultOfAudioApp.crowd.crowdName">Crowd Name</span></th>
                    <th><span jhiTranslate="vaultOfAudioApp.crowd.playlist">Playlist</span></th>
                    <th><span jhiTranslate="vaultOfAudioApp.crowd.accept">Accept</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let crowd of crowds">
                    <td *ngIf="isUserAccepted(currentUser, crowd)"><a [routerLink]="['/', crowd.id, 'view-crowd' ]">{{crowd.id}}</a></td>
                    <td *ngIf="isUserAccepted(currentUser, crowd)">{{crowd.crowdName}}</td>
                    <td *ngIf="isUserAccepted(currentUser, crowd)">
                        <span *ngFor="let playlist of crowd.playlists; let last = last">
                            <a class="form-control-static" [routerLink]="['/', playlist?.id, 'view-playlist' ]">{{playlist.listName}}</a>{{last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-left" *ngIf="isUserAccepted(currentUser, crowd)">
                        <div class="btn-group">
                            <button type="button"
                                    (click)="addUserToCrowd(crowd, currentUser)"
                                    class="btn btn-info btn-sm addButton">
                                <fa-icon [icon]="'plus'"></fa-icon>
                                <span class="d-none d-md-inline">Accept</span>
                            </button>
                            <button type="button"
                                    (click)="removeCrowdFromUser(crowd, currentUser)"
                                    class="btn btn-danger btn-sm removeButton">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Decline</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
