<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="listSong">
            <h2><span jhiTranslate="vaultOfAudioApp.listSong.detail.title">List Song</span> {{listSong.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="vaultOfAudioApp.listSong.playlist">Playlist</span></dt>
                <dd>
                    <div *ngIf="listSong.playlist">
                        <a [routerLink]="['/playlist', listSong.playlist?.id, 'view']">{{listSong.playlist?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="vaultOfAudioApp.listSong.song">Song</span></dt>
                <dd>
                    <div *ngIf="listSong.song">
                        <a [routerLink]="['/song', listSong.song?.id, 'view']">{{listSong.song?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/list-song', listSong.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
