<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-group-list-heading" jhiTranslate="vaultOfAudioApp.groupList.home.createOrEditLabel">Create or edit a Group List</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.groupList.group" for="field_group">Group</label>
                    <select class="form-control" id="field_group" name="group" formControlName="group">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="groupOption.id === editForm.get('group').value?.id ? editForm.get('group').value : groupOption" *ngFor="let groupOption of groups; trackBy: trackGroupById">{{groupOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vaultOfAudioApp.groupList.playlist" for="field_playlist">Playlist</label>
                    <select class="form-control" id="field_playlist" name="playlist" formControlName="playlist">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="playlistOption.id === editForm.get('playlist').value?.id ? editForm.get('playlist').value : playlistOption" *ngFor="let playlistOption of playlists; trackBy: trackPlaylistById">{{playlistOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
